@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: aliceblue;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  background: #1b1b1b;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

a {
    color: gray;
    text-decoration: inherit;
}


.booking {
    background-color: rgba(126, 212, 207, 0.325);
    display: flex;
    justify-content: space-evenly ;
    flex-wrap: wrap;
    justify-items: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;
}
  .box {
    background: white;
    padding: 40px;
    /* margin: auto; */
    /* width: 10px; */
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  input {
    margin-top: 10px;
  }
  
  input {
    border: none;
    outline: none;
  }

  
  .btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.availabiity {
    border-color:solid black;
    color: black;
}

.availability:hover {
    background-color: black;
    color: white;
}

.home h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 150px;
    color: white;
    padding-top: 10%;
    text-align: center;
  }
  
  .home p {
    color: white;
    text-align: center;
    font-size: 30px;
  }

  .roomflex {
      display: flex;
      justify-content: flex-start;
      /* flex-wrap: wrap; */
  }


  footer {
    background: black;
    color: white;
    padding: 30px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  .flex-item h3, p {
    color: gray;
  }

  a {
    color: gray;
    text-decoration: inherit;
  }

  @media (max-width: 800px) {
    .footer-flex{
      flex-direction: column;
    }
  }