@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  background: #1b1b1b;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
  /* background: url("./bg1.webp") no-repeat; */
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  /* .icon.hide{
    display: none;
  } */
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

.btn {
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
  }

  .login-client-btn {
	border-color: solid black;
	color: black;
  }
  
  .login-client-btn:hover {
	background-color: black;
	color: white;
  }

.login-user-btn {
	border-color:solid black;
	color: black;
  }
  
  .login-user-btn:hover {
	background-color: black;
	color: white;
  }

  .login-class {
    display: flex;
	/* background-color: rgba(128, 128, 128, 0.09); */
	/* background-color: gainsboro; */
	justify-content: space-evenly;
	flex-direction: row;
	/* background-color: aliceblue; */
  }
.login-class > div {
  	/* margin: 10px; */
  	text-align: center;
  	font-size: 30px;
}

  .home h1 {
	font-family: 'Great Vibes';
	/* font-style: oblique; */
	font-size: 150px;
	color: black;
	padding-top: 20%;
	text-align: center;
  /* padding-bottom: 20%; */
  }
  
  .home p {
	color: black;
    font-size: 75px;
	text-align: center;
	font-style: oblique;
  padding-bottom: 5%;
  }

  @media (max-width: 800px) {
	.login-class {
	  flex-direction: column;
	}
}

  @media (min-width : 800px) {
    .vl {
        border-left: 2px solid green;
        /* margin-top: 50px; */
        height: auto;
      }
}

footer {
    background: black;
    color: white;
    padding: 30px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  .flex-item h3, p {
    color: gray;
  }

  a {
    color: gray;
    text-decoration: inherit;
  }

  @media (max-width: 800px) {
    .footer-flex{
      flex-direction: column;
    }
  }

  #home {
    width: 100%;
    height: 100vh;
    background: aliceblue;
  }

.owl-nav .owl-next,
.owl-nav .owl-prev {
  /* height: 47px; */
  position: absolute;
  /* top: 60%; */
  /* width: 26px; */
  cursor: pointer;
  background: none !important;
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 53px;
}

.owl-nav .owl-next i,
.owl-nav .owl-prev i {
  background: white;
  /* padding: 7px; */
  border-radius: 50%;
  color: #CC8C18;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.owl-nav .owl-next i:hover,
.owl-nav .owl-prev i:hover {
  background: #CC8C18;
  color: white;
}

.gallery .item {
  position: relative;
  cursor: pointer;
}

.gallery .overlay i {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
  opacity: 0;
  font-size: 50px;
  color: white;
}

.gallery .overlay {
  position: absolute;
  content: '';
  background: rgba(204, 140, 24, 0.73);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.gallery .item:hover .overlay,
.gallery .item:hover i {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}