@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background-image: url("../images/loginuserbackground.jpeg");
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: white;
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px black;
	border-radius: 25px;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 80px;
    margin-left: 30px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: black;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 60px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: black;
	box-shadow: 0px 2px 2px black;
	cursor: pointer;
	transition: .2s;
    align-content: center;
    margin-left: -10px;
	justify-content: space-between;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: black;
	outline: none;
}

a:link {
    text-decoration: none;
    color: #7875B5;
    float: right;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }